
<div class = "baseform">
<div class = "bkgrnd">
<div class="img">
        <body onunload="MyFunction()">
 <div class = "sign-in">
     <div class= "title">
       ONLINE SHOPPING PORTAL
     </div>
     <div class = "input">
        <input class="inputbox" type="text" placeholder="  Enter registered email-id">
    </div>
    <div class = "inputbox2">
        <input class="inputbox" type="text" placeholder="   Enter password">
     </div>
        <div class = "btndiv">
        <button class="btn" click="existingUser()"> Sign-in </button>
    </div>
    <hr>
 </div>           
</body>
</div>
</div>
</div>

